# 1. Το εικονικό περιβάλλον (αν ο φάκελός σου λέγεται αλλιώς, π.χ. myenv, γράψε το αντίστοιχα)
myvenv/
env/

# 2. Αρχεία συστήματος της Python (δημιουργούνται αυτόματα)
__pycache__/
*.pyc

# 3. Η τοπική σου βάση δεδομένων (στον server θέλουμε μια "καθαρή" βάση)
db.sqlite3

# 4. Αρχεία ρυθμίσεων του editor σου (π.χ. VS Code)
.vscode/